{% extends 'base.html' %} {% block content %}
<!-- Compiled and minified CSS MATERIALIZE-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript MATERIALIZE-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<h1>{% block title %} Página em desenvolvimento {% endblock %}</h1>

<div>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
    <img src="static\img\emerson_gabriel.jpg" class="container">
</div>

{% endblock %}